
body{
    background-color: #E5E5E5   ;
}

.logo{
    
    text-align: center;
    
}
h1{
    background-color: #c4c4c4  ;
    color: #005677;
    font-size: 35px;
    text-align: center;
    letter-spacing: .35cm;
    word-spacing: .35cm;
}
main{
    
    background-color: white;
}
.cuerpo{
    width: 70%;
    margin: 0 auto;
}
h2{
    color: #005677;
    background-color: #c4c4c4;
}
span{
    font-style:italic;
    font-weight: bold;
}
dt{
    text-align: left;
    font-weight: bold;
}
dd{
    text-align: left;
}

li{
    line-height: 22px;
}
a{
    margin: 10px;
    width: 100%;
}
footer{
    text-align: center;
    background-color: #005677;
    line-height: 40px;
}
i{
    font-style: normal;
    color: #E5E5E5;
    font-weight: bold;
    font-size: 20px;
}
