@import url("https://use.typekit.net/isi5hfe.css");
/*GENERALES*/
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: roboto,sans-serif;
    font-weight: 100;
    font-style: normal;
}
:root{
    --primary-color: #00669F;
    --Secondary-color:#1CD1B0;
    --tercer-color:#F3F3F3;

}
body>div{
 background-color: var(--Secondary-color);
 height: 38px;
}
body>div>p{
    padding-top: 10px;
    margin-left: 10px;
}
/*-------------HEADER------------*/
header{
background-color: var(--primary-color);
height: 101px;
display: flex;
align-items: center;
justify-content: flex-start;
}
h1{
 padding-left: 30px;
}
/*-----------MAIN------*/
main{
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
}
.card-container{
    display: flex;
    justify-content: space-around;
}
.card{
    background-color: var(--tercer-color);
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    


}
.BG-Batman{
    background-image: url("../img/Batman-Back.png");
    background-repeat: no-repeat;
    height: 193px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    background-size: cover;
}
main img{
    border-radius: 50%;
    z-index: 5;
    position: relative;
    bottom: 55px;
}
img:hover{
    transform: scale(1.1);
}
.card h2{
    padding-bottom: 20px;
}
.card p{
    text-align: justify;
    padding: 0px 20px;
    line-height: 20px;
}
input{
    background-color: var(--primary-color);
    color: white;
    width: 40%;
    height: 40px;
    position: relative;
    margin-top: 15px;
}
input:hover{
    background-color: var(--Secondary-color);
}
.BG-Harley{
    background-image: url("../img/Harley-back.png");
    background-repeat: no-repeat;
    height: 193px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    background-size: cover;
}
.BG-WW{
    background-image: url("../img/Ww-back.png");
    background-repeat: no-repeat;
    height: 193px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    background-size: cover;
}
.BG-Superman{
    background-image: url("../img/Sm-back.png");
    background-repeat: no-repeat;
    height: 193px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    background-size: cover;
}
.card img,.card img{
width: 120px;
height: 120px;
}
.vector{
    background-image: url("../img/Cora.png");
    width: 30px;
    height: 26px;
    position: relative;
    top: 20px;
    left: 20px;
}
.vector:hover{
    transform: scale(1.1);
}
/*https://animista.net/ PAGINA PARA CONSEGUIR ANIMACIONES EN CSS*/
/*-----FOOTER----*/
footer{
    background-color: var(--primary-color);
    margin-top: 100px;
    padding: 10px;
    color: white;
    align-items: center;
    display:flex;
    justify-content: center;
}
footer img{
    position: relative;
    left: 40%;
    height: 37px;
}
footer p{
position: absolute;

}

/*RESPONSIVE*/
@media screen and (max-width: 768px ) {
    /*TABLETS*/
}
@media screen and (max-width: 600px ) {
    /*SMARTPHONES*/
    
}