 /* Estilos Generales */
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
 *{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
body{
    font-family: 'Roboto', sans-serif;
}
img{
    max-width: 100%;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
}
h2{
    text-align: center;
}
/** Header **/
 header{
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: black;
     color: #fff;
     padding: 10px;
 }
  header > div{
/* hijo directo */
  }
  header div{
/* cualquier descendiente */
  }
  header, footer, div, p, a{
   
    /* agrupar */
  }
  input + label{
/* hermano directo siguiente */
  }
.logo{
display: flex;
align-items: center;
}
.logo span{
    color: red;
}
 nav ul{
    display: flex;
}
nav ul li a{
    padding: 5px;
}
/* Banner */
.banner{
    background: blueviolet url("../img/background.png") no-repeat;
    background-size: cover;
    height: 500px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    background: oldlace no-repeat center;
    background-size: cover;
}
.card-super{
    background-img: url();
}
/* Prpiedades abreviadas: background, margin, padding, 
   animation, border(no interesa el orden 
   rem = 16px
   div = 10px
   div >p 2em = 20px
   div>p>a 2em = 40px
   em */
   /* Productos */
   .product__container{
       display: flex;
       justify-content: center;
   }

@media screen and (max-width: 768px){
    html{
        font-size: 10px;
    }
    .product__container{
        flex-direction: column;
        align-items: center;
    }
}
.card div:nth-child(odd){
/* hijos hermanos del mismo padre */
}
:active
:hover::after y ::before /* agregar contenido: vacío, caracter*/