@import url("https://use.typekit.net/isi5hfe.css");

/*----GENERALES----*/
*{
    font-family:Roboto;
}
body{
    margin: 0px;
}
/*----HEADER----*/
.top{
    background-color: #222222 ;
    color: white;
    display: flex;
    justify-content: space-between;
}
.zona{
    display: flex;
    background-color: red;

}
.zona p{
 padding: 30px;
}
.identidad{
    background-color: #F0A83E ;
    display: flex;
    justify-content: space-between;
}
.identidad span{
    color: white;
}
.logo{
    display: flex;
    width: 70%;
    background-color: red;
}

nav ul{
    display: flex;
    margin-right: 30px;
}
nav ul li{
    margin: 10px 30px 0px 0px ;

}
/*----MAIN----*/
.hero{
background-image: url("/Petshop/img/bowl-and-pet-daities-on-green-background.svg");
width: 1025px;
height: 409px;
}
/*----FOOTER----*/